<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h1>Book Details</h1>
<table>
    <tr>
        <th>Name:</th>
        <td th:text="${book.name}"></td>
    </tr>
    <tr>
        <th>ISBN:</th>
        <td th:text="${book.isbn}"></td>
    </tr>
    <tr>
        <th>Publish Date:</th>
        <td th:text="${#dates.format(book.publishDate, 'dd/MM/yyyy')}"></td>
    </tr>
    <tr>
        <th>Price:</th>
        <td th:text="${book.price}"></td>
    </tr>
    <tr>
        <th>Type:</th>
        <td th:text="${book.bookType}"></td>
    </tr>
</table>

<a href="/books">Back to List</a> |
<a th:href="@{/book/update/{id}(id=${book.id})}">Edit</a> |
<a th:href="@{/book/delete/{id}(id=${book.id})}" onclick="return confirm('Are you sure?')">Delete</a>
</body>
</html>
