<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Book Catalog</title>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
<div class="container">
    <h1>Welcome to the Book Catalog</h1>
    <p>Discover and manage your favorite books with ease.</p>
    <div class="buttons">
        <a href="/books" class="btn">Browse Books</a>
        <a href="/book/form/new" class="btn">Add a New Book</a>
    </div>
</div>
</body>
</html>
